.head {
  user-select: none;
  display: flex;
  justify-content: space-between;
  background-color: #2950b8;
  height: 46px;
  box-shadow: 1px 1px 4px 2px #7685af;
  position: fixed;
  top: 0px;
  z-index: 9;
  width: 100%;
}

.head .ant-menu {
  background: #2950b8;
  color: #dcdcdc;
  font-weight: 400;
}
.head .ant-menu-horizontal {
  border-bottom: none;
}

.head .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
.head .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover {
  color: #fff;
  border-bottom: none;
}

.head .ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected {
  background-color: #204093 !important;
}
.head .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item {
  margin: 0;
  padding: 0 20px !important;
}
.head .ant-menu-horizontal > .ant-menu-item {
  position: unset;
  vertical-align: unset;
  border-bottom: none;
}

.head .login {
  height: 46px;
  color: #dcdcdc;
}
.head .login:hover {
  color: #fff;
}
.head .left {
  display: flex;
}
