.train {
  width: 80vw;
  margin: auto;
}

.train_bg {
  margin: auto;
}
.train_bg img {
  object-fit: contain;
  width: 100%;
  max-height: 430px;
  margin-bottom: 30px;
}
.train_upload {
  display: flex;
  width: 100%;
}
.train_upload > span {
  width: 50%;
  text-align: center;
}
.train_upload .ant-upload-list {
  margin-top: 4px;
  height: 140px;
  overflow: auto;
}
.train_upload button {
  font-size: 17px;
  background: #c4c4c4;
  color: #000;
}
.train_upload button:hover,
.train_upload button:focus {
  color: #000;
  border-color: #c4c4c4;
}

.train_model {
  text-align: center;
}
.train_model button {
  font-size: 17px;
  font-weight: 800;
}
