.annotate {
  margin: auto;
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.annotate_play {
  width: 56vw;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #605a5a;
}
.annotate_list {
  margin-left: 40px;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
}
.annotate_detail {
  margin-bottom: 2vh;
}
.annotate_detail div {
  cursor: pointer;
  border: solid 1px #d9d9d9;
  width: 100px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}
.annotate_detail .anticon {
  cursor: pointer;
  width: 27px;
  text-align: left;
}
.ant-tooltip-arrow-content,
.ant-tooltip-inner {
  background-color: #c4c4c4 !important;
}

.annotate_tip {
  width: 234px;
  height: 150px;
}
.annotate_tip_img img {
  object-fit: contain;
  height: 130px;
  width: 218px;
}
.annotate_tip_description {
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.annotate_tip_x .anticon {
  color: #000;
  border: none;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}
