.results {
  height: calc(100vh - 50px);
  /* background: url('../../assets/result.png'); */
  background-repeat: repeat-x;
  background-position: top;
  background-size: 80%;
}

.results .title {
  padding-top: 20px;
  width: 700px;
  margin: auto;
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
  margin-top: 50px;
}
.results .csv {
  text-align: center;
}
.results .csv > img {
  width: 200px;
  margin-top: 30px;
}
.results .csv .description {
  margin-top: -10px;
  font-size: 20px;
  font-weight: 500;
}
.results .btn {
  width: 700px;
  margin: auto;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

.results .btn .ant-btn,
.results .btn .ant-btn:active,
.results .btn .ant-btn:hover,
.results .btn .ant-btn:focus {
  font-size: 17px;
  color: #000;
  background: #bebfbe;
  border-color: #bebfbe;
}
