:root {
    --main-purple: #5844d7;
    --main-white: #fff;
    --main-green: #4ad295;
}

html body{
    margin: 0px;
    padding: 0px;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.show-overlay{
    opacity: 1; 
}
.hide-overlay{
    opacity: 0; /* Hidden by default */
}

.header-wrapper {
    display: flex;
}

.header-title {
    flex: 1;
    justify-content: center;
}

.launch-app-button {
    margin: auto;
    margin-right: 100px;
    justify-content: center;
    background-color: maroon;
    padding: 10px;
    color: white;
}

.launch-app-button:hover {
    background-color: rgb(165, 4, 4);
}

h1 {
    text-align: center;
    margin:30px;
    font-family: Proxima Nova Light, sans-serif;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-family: Proxima Nova Light,sans-serif;
    font-weight: 400;
}

h3 {
    color: grey;
    text-align: center;
    font-family: Proxima Nova Light,sans-serif;
    font-weight: 400;
}

p {
    text-align: center;
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px;
    font-family: Proxima Nova Light,sans-serif;
    font-weight: 400;
}

.image-carousel-div {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}