.contact {
  text-align: center;
}

.contact .ant-form-item {
  margin-bottom: 15px;
}

.contact .page-title .title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 60px;
}

.contact .title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}

.contact .sub-title {
  font-size: 17px;
  margin-bottom: 30px;
}

.contact hr {
  border-color: #fff;
}

.contact .box {
  margin: 0px 10%;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.contact .box .left,
.contact .box .right {
  width: 45%;
}

.contact .box .left .ant-form {
  width: 100%;
}

.contact .box .left .ant-button {
  width: 89%;
}

.contact .box .right .info {
  margin-left: 15px;
}

.contact .box .right .a .info {
  font-size: 17px;
  font-weight: 600;
}

.contact .box .right .a1 .icon {
  height: 14px;
  line-height: 56px;
}

.contact .box .right .a1 .info {
  display: flex;
  flex-direction: column;
}

.contact .box .right .a1 .info .t {
  font-size: 17px;
  font-weight: 600;
}

.contact .box .right .a1 .info .sub-t {
  font-size: 13px;
}

.media {
  display: flex;
  justify-content: space-between;
  width: 210px;
  font-size: 25px;
}

.contact .box .right .hr {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 16px 0px;
  width: 210px;
}

.contact .box .right .a1 {
  display: flex;
  margin-bottom: 10px;
}

.contact .box .right .a {
  margin-bottom: 15px;
}

.media span {
  color: #2950b8;
}

#name, #email{
  height: 10px;
}