.annotate {
    display: flex;
    /* margin: 100px 50px 0 50px; */
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.annotate1 {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.annotate2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fileuploads {
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgb(136, 117, 117);
    padding-left: 40px;
}

.m {
    flex: 1;
}

.annotations {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    /* margin-right: 100px; */
    justify-content: space-evenly;
    align-items: stretch;
    height: auto;
    width: 200px;
}

.annotation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200px;
}

.annotation-button {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    background-color: white;
    margin-top: 3px;
}


.video {
    display: flex;
    background-color: grey;
    margin: auto;
    width: 600px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#video-upload {
    height: 30px;
    width: 250px;
}


.annotations1 {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    justify-content: space-evenly;
    align-items: stretch;
    height: auto;
    width: 200px;
}

.annotation1 {
    background-color: rgb(184, 171, 171);
    width: 600px;
    height: 30px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px 0 15px;
    margin-top: 3px;

}

.hoverImage {
    /* max-width: 100%;
    height: auto; */
    position: relative;
    top: 100px;
    left: 0;
    z-index: 99;
    width: 400px;
}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
  }


  .displayimage {
      position: absolute;
      z-index: 20;
      top: 400px;
  }